@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
   @apply font-spartan;
  }
  ul{
    @apply list-none p-0;
  }
}

@layer components {
  
  .container{
    @apply max-w-6xl my-0 mx-auto px-2;
  }
  .banner__title{
    @apply py-6 px-8 absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4 bg-white text-center font-semibold text-dark uppercase cursor-pointer;
  }
  .banner__main-arrows{
    @apply  absolute top-[50%] right-6 bg-white rounded-full w-10 h-10 md:flex justify-center items-center z-50 cursor-pointer -translate-y-2/4 hidden;
  }
  .productCard__control{
    @apply w-10 h-10 sm:flex hidden justify-center items-center rounded-full bg-white absolute top-2/4 -translate-y-2/4 z-50 cursor-pointer;
  }
  .size__item{
    @apply w-10 h-10 my-4 bg-gr-white flex justify-center items-center cursor-pointer;
  }
  .burger-open{
    @apply flex flex-col gap-y-5 items-center justify-evenly z-50 top-0 left-0 pt-[15%]  fixed w-full bg-white-800 min-h-screen ;
  }
  
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan SemiBold'), local('Spartan-SemiBold'),
      url('assets/fonts/Spartan-SemiBold.woff2') format('woff2'),
      url('assets/fonts/Spartan-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan Medium'), local('Spartan-Medium'),
      url('assets/fonts/Spartan-Medium.woff2') format('woff2'),
      url('assets/fonts/Spartan-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan Bold'), local('Spartan-Bold'),
      url('assets/fonts/Spartan-Bold.woff2') format('woff2'),
      url('assets/fonts/Spartan-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan Regular'), local('Spartan-Regular'),
      url('assets/fonts/Spartan-Regular.woff2') format('woff2'),
      url('assets/fonts/Spartan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Styles for swiper*/

.swiper-button-disabled{
  opacity: 0.4;
}

.productCard__preview .swiper .swiper-wrapper{
 min-width: 94px;
max-height: 500px;

}



@media (max-width:850px){
  .productCard__preview .swiper .swiper-wrapper{
  max-width: 520px;
  padding: 0 20px;
}
}


@media (max-width:550px){
  .productCard__preview .swiper .swiper-wrapper{
  max-width: 320px;
  padding: 0 10px;
}
}

.swiper-slide-thumb-active{
  opacity: 1;
}